@font-face { font-family: "Press Start 2P"; src: url("../fonts/PressStart2P.ttf") format("truetype"); font-display: block; }
@font-face { font-family: "Nunito"; src: url("../fonts/Nunito.ttf") format("truetype"); font-weight: 200 1000; font-display: block; }
